.product-list-item:hover,
a:hover {
  cursor: pointer;
}

img {
  object-fit: contain;
}

.product-details img {
  height: 400px;
}

.product-list-item {
  height: 400px;
}

.product-list-item:hover {
  transform: scale(1.025);
  box-shadow: inset 0 0 5px 1px lightblue;
}

.product-list-item img {
  height: 225px;
}

.cart-summary .card-columns{
  column-count: 1;
}

.cart-summary-item {
  height: 250px;
  width: 100%;
  padding: 10px 0;
}

.cart-summary-item img {
  height:225px;
  object-position: center;
}

.alert {
  transition: transform .2s step-end .2s,
  opacity .15s linear;
}

.alert:not(.show) {
  transform: translateY(-100%);
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 992px) {
  .product-list.card-columns{
    column-count: 2;
  }
}

@media only screen and (max-width: 768px) {
  .product-list.card-columns{
    column-count: 1;
  }

  .cart-summary-item {
    height: 450px;
  }
}

@media only screen and (max-width: 576px) {
  .cart-summary-item {
    height: 500px;
  }
}
