.product-list-item .card:hover,
a:hover {
  cursor: pointer;
}

img {
  object-fit: contain;
}

.product-details img {
  height: 300px;
}

.product-list-item .card:hover {
  transform: scale(1.025);
  box-shadow: 0 0 5px 1px lightblue;
}

.product-list-item img {
  height: 150px;
}

.cart-summary-item img {
  height: 150px;
  object-position: center;
}

.alert {
  transition: transform .2s step-end .2s,
  opacity .15s linear;
}

.alert:not(.show) {
  transform: translateY(-100%);
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
}
